//COLORS

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-fourth-light: #a6d094;
$color-fourth-dark: #6ab04c;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: hwb(0 47% 53%);
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT

$default-font-size: 1.6rem;

// FONT VARIABLES
$font-primary: 'Lato', sans-serif;

//RESPONSIVE BREAKPOINTS

$bp_largest: 112.5em; // 1800px/16px big screen - use min-width
$bp_large: 75em; // 1200px/16px tab-land
$bp_medium: 56.25em; // 800px/16px tab-port
$bp_small: 37.5em; // 600px/16px  phone

//CARD
$card-height: 52rem;
