.gallery {
  background-color: blue;
}

.map-small {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: flex-start;
  max-width: 120rem;
  padding: 3rem 3.2rem;
  margin: 0 auto 5rem;

  background-color: $color-grey-light-1;

  @include respond(tab-port) {
    gap: 1rem;
    margin: 0;
  }
  &-icons {
    @include respond(tab-port) {
      display: none;
    }
  }
  &-icon {
    width: 2rem;
    height: 2rem;
    color: $color-tertiary-light;
  }
  &-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-top: 2.4rem;
    color: #333;
  }
  &-img {
    width: 100%;
    height: 100%;
  }
  iframe {
    width: 96rem;
    height: 48rem;
    @include respond(phone) {
      width: 70rem;
    }
  }
}
